@{
    ViewData["Title"] = "Database Connection";
}
<!-- This part is used to give the users a little beforehand information on how to connect with their databases -->
<div id="Top-container">
    <p>This version works with SQL Server 2019 Databases.</p>
    <p>You can connect to a remote database using a connection string.</p>
    <p>There are several connection string formats that you can consult in the help page.</p>
</div>

@{/*
                                        <div id="Local" class="left-half"}>
                                            <div class="middle-container">
                                                <h1>Add a local database</h1>
                                                <div id="local_inside">
                                                    <span class='file_icon'></span>
                                                    <span class="top-text">Selected file</span>
                                                    <input type="file" id="fileLoader" name="files" title="Load File" />
                                                    <button type="button" class="btn btn-default" onclick="openfileDialog();"><span class='add_icon'></span></button>
                                                </div>
                                            </div>
                                        </div>
*/}
<!-- This part is used by the user to input their connection string and the bottom part is just a button
    that along with the beginForm and some hidden text input and buttons sends that connection string to the controller-->
<div id="Remote" class="centeredBig">
    <div class="middle-container">
        <h1>Connect to a remote database</h1>
        <div id="remote_inside">
            <textarea id="constr" style="background: rgba(255,255,255,0.5);" placeholder="Introduce your connection String"></textarea>
            @using (Html.BeginForm("Connect", "Home"))
            {
                <input type="text" id="connectionString" name="connectionString" />
                <input id="hidden-btn" class="hidden-btn" type="submit" style="display: none;" />
            }
        </div>
    </div>
</div>
<div id="Bottom-container">
    <div id="Bottom">
        <div class="btn-group" role="group">
            @{/*<button type="button" class="btn btn-outline-primary">Connect to Local</button>*/}
            <button type="button" onclick="connect()" class="btn btn-outline-primary">Connect to Remote</button>
        </div>
    </div>
</div>

