@{
    ViewData["Title"] = "Help";
    @model TFG.Models.Help
}
@using (Html.BeginForm("GoBackToPage", "Home"))
{
    <input type="text" id="functionalitySelected3" class="functionalitySelected" name="functionalitySelected" />
    <input id="hidden-btn3" class="hidden-btn" type="submit" style="display: none;" />
}
<!-- A navegation bar which does not navigate, it only shows the chosen database name along with a button that
    allows the user to go to the corresponding page to change it, if needed and show the current page -->
<nav class="navbar nav_color_1">
    <div id="Top-container">
        <div id="Top">
            <button type="button" onclick='window.location.href="DatabaseConnection"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Change database"><span class='folder_icon'></span></button>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Help</li>
                @if (Model.connected)
                {
                    <li class="breadcrumb-item"><a id="selection-a" onclick="goToPage('MainPage', false)" style="color: orange;" Home">Home</a></li>
                }
            </ol>
        </div>
    </div>
</nav>
<div>
    <section id="database_connection" class="section-functionality">
        <h2>Connecting to your database</h2>
        <br />

        <p>The connection string should follow one of the following formats:</p>
        <ul>
            <li>Server=myServerAddress;Database=myDataBase;uid=myUsername;Password=myPassword;</li>
            <li>Server=myServerAddress;Database=myDataBase;Trusted_Connection=True;</li>
            <li>Server=myServerName\myInstanceName;Database=myDataBase;User Id=myUsername;Password=myPassword;</li>
            <li>Server=myServerName,myPortNumber;Database=myDataBase;User Id=myUsername;Password=myPassword;</li>
            <li>Data Source=190.190.200.100,1433;Network Library=DBMSSOCN;Initial Catalog=myDataBase;User ID=myUsername;Password=myPassword;</li>
        </ul>
        <p>
            1433 is the default port number and could be ommited.
            DBMSSOCN is the default value of the Network Library field, and ensures the usage of TCP/IP.
            User ID and uid are the same field.
            Server address can be set to localhost.
        </p>
    </section>
    <section id="data_masking" class="section-functionality">
        <h2>Data Masking</h2>
        <br />
        <p>This functionality allows the user to create masks for some selected columns, in order to have a fixed structure for the data.</p>
        <p>When we access this functionality, either by clicking on the corresponding run on full database button, or after selecting specific tables and columns from the selection page, we will arrive to the Create Masks page.</p>
        <p>This page consists of the top general navigation bar in conjunction with a 3 vertical parts approach. In the leftmost part we have an accordion element to navigate between the column of each table records, that will be shown in the center part when selected. The rightmost part consists of a dropdown menu to select the mask type corresponding to the selected column and a button to confirm the selections when done.</p>
        <p>After selecting the type of mask that we want for every column desired, the next step will be to click on the Confirm masks selections button, this will take us to the Data Masking page.</p>
        <p>This page consists of the top general navigation bar in conjunction with a 3 vertical parts approach. In the leftmost part we have an accordion element to navigate between the column of each table data masking report, that will be shown in the center part when selected. In the rightmost part we can see some selection buttons (select everything, select only the records of the current column, unselect only the records of the current column, unselect everything), a text that reminds the user its current selection, a button to confirm the selections and execute the functionality, and a button to download the report.</p>
        <p>After clicking the confirm and run button, the changes will be committed to the database and the user will be redirected to the Main page again.</p>
    </section>
    <section id="data_unification" class="section-functionality">
        <h2>Data Unification</h2>
        <br />
        <p>This functionality allows the user to unify in one, several ocurrences that are very likely to be refering to the same thing.</p>
        <p>When we access this functionality, either by clicking on the corresponding run on full database button, or after selecting specific tables and columns from the selection page, we will arrive to the Data Unification page.</p>
        <p>This page consists of the top general navigation bar in conjunction with a 3 vertical parts approach. In the leftmost part we have an accordion element to navigate between the column of each table data unification report, that will be shown in the center part when selected. In the rightmost part we can see some selection buttons (select only odd records of the current column, select only even records of the current column, unselect everything), a text that reminds the user its current selection, a button to confirm the selections and execute the functionality, and a button to download the report.</p>
        <p>After clicking the confirm and run button, the changes will be committed to the database and the user will be redirected to the Main page again.</p>
    </section>
    <section id="remove_duplicates" class="section-functionality">
        <h2>Remove Duplicates</h2>
        <br />
        <p>This functionality allows the user to delete repeated values, in case that they make no sense.</p>
        <p>When we access this functionality, either by clicking on the corresponding run on full database button, or after selecting specific tables and columns from the selection page, we will arrive to the Data Unification page</p>
        <p>This page consists of the top general navigation bar in conjunction with a 3 vertical parts approach. In the leftmost part we have an accordion element to navigate between the column of each table remove duplicates report, that will be shown in the center part when selected. In the rightmost part we can see some selection buttons (select only odd records of the current column, select only even records of the current column, unselect everything), a text that reminds the user its current selection, a button to confirm the selections and execute the functionality, and a button to download the report.</p>
        <p>After clicking the confirm and run button, the changes will be committed to the database and the user will be redirected to the Main page again.</p>
    </section>
    <section id="restrictions" class="section-functionality">
        <h2>Restrictions</h2>
        <br />
        <p>This functionality allows the user to create restrictions between the columns of a table. This constraints permit a higher level control of the data quality.</p>
        <p>When we access this functionality, either by clicking on the corresponding run on full database button, or after selecting specific tables from the selection page, we will arrive to the Create Restrictions page.</p>
        <p>This page consists of the top general navigation bar in conjunction with a 3 vertical parts approach. In the leftmost part we have an accordion element to navigate between each table restrictions, that will be shown in the center part when selected. The rightmost part consists of a button to confirm the selections when done.</p>
        <p>After creating the desired restrictions for each table, the next step will be to click on the Confirm restrictions selections button, this will take us to the Restrictions page.</p>
        <p>This page consists of the top general navigation bar in conjunction with a 3 vertical parts approach. In the leftmost part we have an accordion element to navigate between each restriction report, that will be shown in the center part when selected. In the rightmost we can see a text that reminds the user its current selection, a button to confirm the selections and execute the functionality, and a button to download the report.</p>
        <p>After clicking the confirm and run button, the changes will be committed to the database and the user will be redirected to the Main page again.</p>
    </section>
    <section id="missing_values" class="section-functionality">
        <h2>Treating Missing Values</h2>
        <br />
        <p>This functionality allows the user to fix incomplete records or delete them, to prevent the errors related to missing values.</p>
        <p>When we access this functionality, either by clicking on the corresponding run on full database button, or after selecting specific tables and columns from the selection page, we will arrive to the Missing Values page.</p>
        <p>This page consists of the top general navigation bar in conjunction with a 3 vertical parts approach. In the leftmost part we have an accordion element to navigate between each table missing values report, that will be shown in the center part when selected. In the rightmost part we can see some selection buttons (select everything, select only columns of the current table, unselect only columns of the current table, select only records of the current table, unselect only records of the current table, unselect everything), a text that reminds the user its current selection, three buttons to confirm the selections and execute the functionality with different variations (updating the selected rows with the inputted values, deleting the selected rows, deleting the selected columns), and a button to download the report.</p>
        <p>After clicking the confirm and run button, the changes will be committed to the database and the user will be redirected to the Main page again.</p>
    </section>
    <section id="improve_datatypes" class="section-functionality">
        <h2>Improve Datatypes</h2>
        <br />
        <p>This functionality suggests better datatypes for the selected columns, improving maintainability and performance,</p>
        <p>When we access this functionality, either by clicking on the corresponding run on full database button, or after selecting specific tables and columns from the selection page, we will arrive to the Improve Datatypes page.</p>
        <p>This page consists of the top general navigation bar in conjunction with a 3 vertical parts approach. In the leftmost part we have an accordion element to navigate between each table improve datatypes report, that will be shown in the center part when selected. In the rightmost part we can see some selection buttons (select everything, select only columns of the current table, unselect only columns of the current table, unselect everything), a text that reminds the user its current selection, a button to confirm the selections and execute the functionality, and a button to download the report.</p>
        <p>After clicking the confirm and run button, the changes will be committed to the database and the user will be redirected to the Main page again.</p>
    </section>
    <section id="primary_keys" class="section-functionality">
        <h2>Add/Improve Primary Keys</h2>
        <br />
        <p>This functionality allows the user to add suggested primary keys to the tables that are missing them and/or change the ones that are already set.</p>
        <p>When we access this functionality, either by clicking on the corresponding run on full database button, or after selecting specific tables from the selection page, we will arrive to the Primary Keys page.</p>
        <p>This page consists of the top general navigation bar in conjunction with a 2 vertical parts approach. In the leftmost part we can see the primary keys report. In the rightmost part we can see some selection buttons (select everything, unselect everything), a text that reminds the user its current selection, a button to confirm the selections and execute the functionality, and a button to download the report.</p>
        <p>After clicking the confirm and run button, the changes will be committed to the database and the user will be redirected to the Main page again.</p>
    </section>
    <section id="foreign_keys" class="section-functionality">
        <h2>Add/Improve Foreign Keys</h2>
        <br />
        <p>This functionality allows the user to add suggested foreign keys and/or remove one that are already set.</p>
        <p>When we access this functionality, either by clicking on the corresponding run on full database button, or after selecting specific tables from the selection page, we will arrive to the Foreign Keys page.</p>
        <p>This page consists of the top general navigation bar in conjunction with a 2 vertical parts approach. In the leftmost part we can see the foreign keys report. In the rightmost part we can see some selection buttons (select everything, unselect everything), a text that reminds the user its current selection, a button to confirm the selections and execute the functionality, and a button to download the report. </p>
        <p>After clicking the confirm and run button, the changes will be committed to the database and the user will be redirected to the Main page again.</p>
    </section>
    <section id="table_defragmentation" class="section-functionality">
        <h2>Table Defragmentation</h2>
        <br />
        <p>This functionality allows the user to defragment the selected tables.</p>
        <p>When we access this functionality, either by clicking on the corresponding run on full database button, or after selecting specific tables from the selection page, the functionality will be executed automatically on the selected tables and the user will be redirected to the Main page again.</p>
    </section>
    <section id="improve_indexes" class="section-functionality">
        <h2>Index Cleaning & Generation</h2>
        <br />
        <p>This functionality allows the user to add suggested indexes and/or remove ones that are already set.</p>
        <p>When we access this functionality, either by clicking on the corresponding run on full database button, or after selecting specific tables from the selection page, we will arrive to the Improve Indexes page.</p>
        <p>This page consists of the top general navigation bar in conjunction with a 2 vertical parts approach. In the leftmost part we can see the improve indexes report. In the rightmost part we can see some selection buttons (select everything, unselect everything), a text that reminds the user its current selection, a button to confirm the selections and execute the functionality, and a button to download the report.</p>
        <p>After clicking the confirm and run button, the changes will be committed to the database and the user will be redirected to the Main page again.</p>
    </section>
</div>

