@{
    ViewData["Title"] = "Help";
}
<!-- A navegation bar which does not navigate, it only shows the chosen database name along with a button that
    allows the user to go to the corresponding page to change it, if needed and show the current page -->
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div id="Top-container">
        <div id="Top">
            <!--
                    <span class='database_icon'></span>
            <span class="top-text">@ViewData["database"]</span>
                -->
            <button type="button" onclick='window.location.href="DatabaseConnection"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Change database"><span class='folder_icon'></span></button>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Help</li>
            </ol>
        </div>
    </div>
</nav>
<div>
    <section id="database_connection" class="section-functionality">
        <h2>Connecting to your database</h2>
        <br />
        <p>Database connection</p>
    </section>
    <section id="data_masking" class="section-functionality">
        <h2>Data Masking</h2>
        <br />
        <p>Data Masking</p>
    </section>
    <section id="data_unification" class="section-functionality">
        <h2>Data Unification</h2>
        <br />
        <p>Data Unification</p>
    </section>
    <section id="remove_duplicates" class="section-functionality">
        <h2>Remove Duplicates</h2>
        <br />
        <p>Remove Duplicates</p>
    </section>
    <section id="constraints" class="section-functionality">
        <h2>Constraints</h2>
        <br />
        <p>Constraints</p>
    </section>
    <section id="missing_values" class="section-functionality">
        <h2>Treating Missing Values</h2>
        <br />
        <p>Treating Missing Values</p>
    </section>
    <section id="improve_datatypes" class="section-functionality">
        <h2>Improve Datatypes</h2>
        <br />
        <p>Improve Datatypes</p>
    </section>
    <section id="primary_keys" class="section-functionality">
        <h2>Add/Improve Primary Keys</h2>
        <br />
        <p>Add/Improve Primary Keys</p>
    </section>
    <section id="foreign_keys" class="section-functionality">
        <h2>Add/Improve Foreign Keys</h2>
        <br />
        <p>Add/Improve Foreign Keys</p>
    </section>
    <section id="table_defragmentation" class="section-functionality">
        <h2>Table Defragmentation</h2>
        <br />
        <p>Table Defragmentation</p>
    </section>
    <section id="improve_indexes" class="section-functionality">
        <h2>Index Cleaning & Generation</h2>
        <br />
        <p>Index Cleaning & Generation</p>
    </section>
</div>

