@{
    ViewData["Title"] = "Help";
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div id="Top-container">
        <div id="Top">
            <span class='database_icon'></span>
            <span class="top-text">Selected file</span>
            <button type="button" onclick='window.location.href="DatabaseConnection"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Change database"><span class='folder_icon'></span></button>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Help</li>
            </ol>
        </div>
    </div>
</nav>
<div>
    <p>This version works with SQL Server 2019 Databases. You can either add a local database or connect to a remote one More specific procedure about file types and connection strings masking.</p>
    <p>Esta version funciona con bases de datos en SQL Server 2019 Puedes añadir una base de datos local o conectarte a una remota.</p>
    <p>Cosas mas especificas sobre los tipos de datos y mascaras de string de conexion.</p>
    </div>

