@{
    ViewData["Title"] = "Home Page";
}
<div id="Top-container">
    <div id="Top">
        <span class='database_icon'></span><span class="top-text">Selected file</span><span class='folder_icon'></span>
    </div>
</div>
<div id="Datacleaning">
    <h1 class="display-4">Datacleaning</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="Tuning">
    <h1 class="display-4">Tuning</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>