@{
    ViewData["Title"] = "Home Page";
}
<!-- A navegation bar which does not navigate, it only shows the chosen database name along with a button that
    allows the user to go to the corresponding page to change it, if needed and show the current page -->
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div id="Top-container">
        <div id="Top">
            <span class='database_icon'></span>
            <span class="top-text">@ViewData["database"]</span>
            <button type="button" onclick='window.location.href="DatabaseConnection"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Change database"><span class='folder_icon'></span></button>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </div>
    </div>
</nav>

<!-- This part consists of a text input and a button both hidden whose importance can be seen in the site.js file
    The Html.BeginForm part is used to send information to a controller method-->
@using (Html.BeginForm("GoToSelection", "Home"))
{
    <input type="text" id="functionalitySelected" name="functionalitySelected" />
    <input id="hidden-btn2" class="hidden-btn" type="submit" style="display: none;" />
}
<!-- Everything on here is just visual, 2 divs one to the left and one to the right with 5 divs of functionality each which in turn have a help button, their name and their option buttons -->
<div id="Datacleaning" class="left-half">
    <h1>Datacleaning</h1>
    <div id="datacleaning_inside">
        <div id="data_masking" class="functionality">
            <button type="button" onclick='window.location.href="Help"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Help"><span class='info_icon'></span></button>
            <span class="functionality-text">Data Masking</span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary">Run on full database</button>
                <button type="button" onclick="goToSelection('Data Masking')" class="btn btn-outline-dark">Select what to run</button>
            </div>
        </div>
        <div id="data_unification" class="functionality">
            <button type="button" onclick='window.location.href="Help"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Help"><span class='info_icon'></span></button>
            <span class="functionality-text">Data Unification</span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary">Run on full database</button>
                <button type="button" onclick="goToSelection('Data Unification')" class="btn btn-outline-dark">Select what to run</button>
            </div>
        </div>
        <div id="remove_duplicates" class="functionality">
            <button type="button" onclick='window.location.href="Help"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Help"><span class='info_icon'></span></button>
            <span class="functionality-text">Remove Duplicates</span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary">Run on full database</button>
                <button type="button" onclick="goToSelection('Remove Duplicates')" class="btn btn-outline-dark">Select what to run</button>
            </div>
        </div>
        <div id="constraints" class="functionality">
            <button type="button" onclick='window.location.href="Help"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Help"><span class='info_icon'></span></button>
            <span class="functionality-text">Constraints</span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary">Run on full database</button>
                <button type="button" onclick="goToSelection('Constraints')" class="btn btn-outline-dark">Select what to run</button>
            </div>
        </div>
        <div id="missing_values" class="functionality">
            <button type="button" onclick='window.location.href="Help"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Help"><span class='info_icon'></span></button>
            <span class="functionality-text">Treating Missing Values</span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary">Run on full database</button>
                <button type="button" onclick="goToSelection('Treating Missing Values')" class="btn btn-outline-dark">Select what to run</button>
            </div>
        </div>
    </div>
</div>
<div id="Tuning" class="right-half">
    <h1>Tuning</h1>
    <div id="tuning_inside">
        <div id="improve_datatypes" class="functionality">
            <button type="button" onclick='window.location.href="Help"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Help"><span class='info_icon'></span></button>
            <span class="functionality-text">Improve Datatypes</span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary">Run on full database</button>
                <button type="button" onclick="goToSelection('Improve Datatypes')" class="btn btn-outline-dark">Select what to run</button>
            </div>
        </div>
        <div id="primary_keys" class="functionality">
            <button type="button" onclick='window.location.href="Help"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Help"><span class='info_icon'></span></button>
            <span class="functionality-text">Add/Improve Primary Keys</span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary">Run on full database</button>
                <button type="button" onclick="goToSelection('Add/Improve Primary Keys')" class="btn btn-outline-dark">Select what to run</button>
            </div>
        </div>
        <div id="foreign_keys" class="functionality">
            <button type="button" onclick='window.location.href="Help"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Help"><span class='info_icon'></span></button>
            <span class="functionality-text">Add/Improve Foreign Keys</span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary">Run on full database</button>
                <button type="button" onclick="goToSelection('Add/Improve Foreign Keys')" class="btn btn-outline-dark">Select what to run</button>
            </div>
        </div>
        <div id="table_defragmentation" class="functionality">
            <button type="button" onclick='window.location.href="Help"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Help"><span class='info_icon'></span></button>
            <span class="functionality-text">Table Defragmentation</span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary">Run on full database</button>
                <button type="button" onclick="goToSelection('Table Defragmentation')" class="btn btn-outline-dark">Select what to run</button>
            </div>
        </div>
        <div id="improve_indexes" class="functionality">
            <button type="button" onclick='window.location.href="Help"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Help"><span class='info_icon'></span></button>
            <span class="functionality-text">Index Cleaning & Generation</span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary">Run on full database</button>
                <button type="button" onclick="goToSelection('Index Cleaning & Generation')" class="btn btn-outline-dark">Select what to run</button>
            </div>
        </div>
    </div>
</div>
