/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 1.5vh;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 3vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 3vh;
}

/* divs */

.left-half {
    text-align: center;
    float: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-right: 0.4vw solid #000000;
}

.right-half {
    text-align: center;
    float: right;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#Local, div#Remote {
    height: 65vh;
    width: 50%;
}

div#Datacleaning, div#Tuning {
    height: 80vh;
    width: 50%;
}

div#accordion {
    height: 75vh;
}

.centeredBig {
    padding-left: 15vw;
    padding-right: 15vw;
    align-content: center;
}

#selection-top {
    text-align: center;
}

div#Bottom-container {
    display: inline;
    text-align: center;
    padding-left: 35vw;
    padding-right: 35vw;
}

div#Top {
    text-align: center;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

div#Top-inside {
    display: flex;
    align-items: center;
}

.middle-container {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

div#local_inside {
    text-align: center;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

div#remote_inside {
    text-align: center;
    display: inline-flex;
    align-items: center;
}

.functionality {
    display: flex;
    align-items: flex-start;
    padding-top: 5vh;
    padding-left: 2vw;
    padding-right: 5vw;
}

/* icons */

.database_icon {
    background: url('https://img.icons8.com/ios-filled/32/000000/database.png');
    width: 32px;
    height: 32px;
    display: inline-block;
}

.folder_icon {
    background: url('https://img.icons8.com/ios-filled/32/000000/folder-invoices--v2.png');
    width: 32px;
    height: 32px;
    display: inline-block;
}

.info_icon {
    background: url('https://img.icons8.com/metro/32/000000/info.png');
    width: 32px;
    height: 32px;
    display: inline-block;
}

.add_icon {
    background: url('https://img.icons8.com/pastel-glyph/64/000000/plus--v1.png');
    width: 64px;
    height: 64px;
    display: inline-block;
}

.file_icon {
    background: url('https://img.icons8.com/material-rounded/32/000000/file--v1.png');
    width: 32px;
    height: 32px;
    display: inline-block;
}

/* text */

.top-text {
    vertical-align: middle;
    padding-right: 3vw;
    padding-left: 1vw;
}

.functionality-text {
    vertical-align: middle;
    font-size: 1.5rem;
    padding-left: 3vw;
}

.btn-group {
    margin-left: auto;
}

#constr {
    width: 35vw;
    height: 20vh;
    resize: none;
}

#fileLoader, #connectionString, #functionalitySelected {
    display: none;
}
